<div ng-controller="CollegeEditCtrl">
<h3>{{editData.name}}</h3>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Departments</th>
			<th><a href class="pull-right add" title="Add Department" ng-click="add.show = true"><i class="icon-plus"></i></a></th>
		</tr>
	</thead>
	<tbody class="table-container">
		<tr ng-show="add.show">
			<td>
				<input id="name" name="name" type="text" placeholder="Name" style="width: 98%;" ng-model="new.department"/>
			</td>
			<td>
				<a href class="pull-right cancel" title="Cancel Add" ng-click="add.show = false; new.department = ''"><i class="icon-remove"></i></a>
				<a href class="pull-right save margin-right5" title="Save Department Assignment" ng-click="save()"><i class="icon-ok"></i></a>
			</td>
		</tr>
		<tr ng-repeat="item in editData.childOrganization | orderBy: 'name'">
			<td>{{item.name}}</td>
			<td><a href class="pull-right remove" title="Remove Item" ng-click="remove(item)"><i class="icon-remove"></i></a></td>
		</tr>
	</tbody>
</table>
</div>